{% extends 'base_template.html' %}
{% load static %}
{% load crispy_forms_tags %}
{ STATIC_URL }}js/jquery.js

{% block titulo %}
Sales
{% endblock%}
{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" ></script>

<style>
    .hidden{
        display:none;
    }

</style>
<section>
    <header   class="bg-no-repeat bg-cover" style="background-image: url('#');">
     <script>
    {% for msg in messages %}
        swal('{{ msg }}');
    {% endfor %}
    </script>
        <div class="z-10 h-full py-5 md:py-30 text-dark-100 text-center flex items-center flex-col">
            <form method="post" >
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Registrar Venda<strong> | Focus Jiu-Jitsu</strong> </legend>
                        {{ form|crispy }}
                        {{ formset.management_form }}

                        {% for form in productformset %}
                            <div class="form_set">
                                {{ form|crispy }}
                            </div>
                        {% endfor %}


                   <a href="#" id="add-item" class="btn btn-primary btn-sm add-item">Add Item</a>
                </fieldset>
                <br>
                <button class="bg-primary py-1 px-3 text-white w-full md:text-lg rounded-md" type="submit">Add Sell</button>
            </form>


            {% if user.is_superuser %}
            <div class="nav-item">
            <small class="nav-link"><a href="{% url 'focusbjj:addproduct' %}">Add New Product?</a></small>
            </div>
            {% else %}
            {% endif %}
        </div>
        </div>

    </header>
    </section>

{% endblock %}

