{% extends 'base_template.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block titulo %}
Add Product
{% endblock%}
{% block content %}

<section >
    <header   class="bg-no-repeat bg-cover" style="background-image: url('#');">
        <div class="z-10 h-full py-5 md:py-30 text-dark-100 text-center flex items-center flex-col ">
            <form method="post" >
                {% csrf_token %}
                <fieldset class="form-group ">
                    <legend class="border-bottom mb-4">Register Championship<strong> | Focus Jiu-Jitsu</strong> </legend>
                   {{ form|crispy }}
                </fieldset>
                <br>
                <button class="bg-primary py-1 px-3 text-white w-full md:text-lg rounded-md" type="submit">Submit</button>
            </form>
        </div>
    </header>
</section>
<script>
{% for msg in messages %}
    swal('{{ msg }}');
{% endfor %}
</script>

{% endblock %}