{% extends 'base_template.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load attendance_tags %}
{% load i18n %}


{% block titulo %}
Sales History
{% endblock%}

{% block content %}

<div class="col-lg-12">
    <!-- PIE CHART -->
      <div class="card card-outline card-info">
        <div class="card-header">
          <h3 class="card-title">{% trans "Histórico de Competições" %}</h3>

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
          <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
        </div>
      </div>
      <div class="card-body">
        <table class="table table-hover text-nowrap">
        <thead>
        <tr>
          <th>{% trans "Aluno" %}</th>
          <th>{% trans "Campeonato" %}</th>
          <th>{% trans "Local" %}</th>
          <th>{% trans "Data" %}</th>
          <th>{% trans "Categoria" %}</th>
          <th>{% trans "Colocação" %}</th>
          <th></th>

        </tr>
        </thead>
        <tbody>
        {% for campeonato in championships %}
          {% if campeonato.athlete.location.id == user.id %}
            <tr>
              <td>{{ campeonato.athlete.nome|title }}</td>
              <td>{{ campeonato.championship|title }}</td>
              <td>{{ campeonato.country.name }}, {{ campeonato.city|title }}</td>
              <td>{{ campeonato.date|date:"d F Y" }}</td>
              <td>{{ campeonato.category|title }} - {{ campeonato.weight|title}}</td>
              <td>{{ campeonato.ranking|title }}</td>
            </tr>
          {% else %}
          {% endif %}
        {% endfor %}
        </tbody>

        </table>
        </tr>

      </div>
    </div>
  </div>

{% endblock %}