{% extends 'base_template.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load attendance_tags %}
{% load i18n %}

{% block titulo %}
Student Details
{% endblock %}
{% block content %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6"> <!--FIRST COLUMN  -->
                <div class="card-body table-responsive p-0">
                <div class="card card-outline card-info">
                <div class="card-header">
                <h3 class="card-title">{% trans "Informações Pessoais do Aluno" %}  <strong>| {{ aluno.nome|title }}</strong></h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                </div>
                </div>
                <div class="card-body"><!-- /.card-body -->
                    <table class="table table-hover text-nowrap">
                        <thead>
                            <tr>
                                {% if aluno.photo %}
                                <td colspan="2" align=center><img width="300px" src="{{ aluno.photo.url }}"> </td>
                                {% else %}
                                <td colspan="2" align=center><img width="300px" src="{% static 'images/defaultuser.jpeg' %}"> </td>
                                {% endif %}
                            </tr>
                             <tr>
                              <th>{% trans "ID" %}</th>
                              <td>{{ aluno.id }}</td>
                            </tr>
                            <tr>
                                <th>{% trans "Nome" %}</th>
                                <td>{{ aluno.nome|title }} {{ aluno.surname|title }}</td>
                            </tr>
                            <tr>
                                <th>{% trans "Telefone" %}</th>
                                <td>{{ aluno.phone }}</td>
                            </tr>
                            <tr>
                                <th>E-Mail</th>
                                <td>{{ aluno.email|lower }}</td>
                            </tr>
                            <tr>
                                <th>{% trans "Gênero" %}</th>
                                <td>{{ aluno.gender }}</td>
                            </tr>
                            <tr>
                                <th>{% trans "Primeira Faixa" %}</th>
                                <td>{{ aluno.belt }} - {{ aluno.stripe }}</td>
                            </tr>
                            <tr>
                                <th>{% trans "Faixa Atual" %}</th>
                                <td>{{ aluno|current_belt }} - {{ aluno|current_stripe }} </td>

                            </tr>
                             <tr>
                                <th>{% trans "Data de Nascimento" %}</th>
                                <td>{{ aluno.dob|date:"d F Y" }}</td>
                            </tr>
                            <tr>
                                <th>{% trans "Inicio" %}</th>
                                <td>{{ aluno.join_date|date:"d F Y" }}</td>
                            </tr>
                            <tr>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                </div>
                </div>
            </div> <!--FINISH FIRST COLUMN  -->


    <div class="col-lg-6"> <!-- SECOND COLUMN  -->
        <div class="card-body table-responsive p-0">
        <div class="card card-outline card-info">
        <div class="card-header">
            <h3 class="card-title">{% trans "Histórico de Compras" %}<strong>  </strong></h3>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
        </div>
        </div>
        <div class="card-body"><!-- /.card-body -->
            <table class="table table-hover text-nowrap">
                <thead>
                    <tr>
                        <th>{% trans "Data" %}</th>
                        <th>{% trans "Valor" %}</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for venda in aluno|vendas %}
                    <tr>
                        <td>{{ venda.time_stamp|date:"d F Y" }}</td>
                        <td>{{ venda.price }}</td>
                        <td></td>
                        <td><a href="{% url 'focusbjj:saledetails' venda.pk %}" class="btn btn-primary">{% trans "Detalhes" %}</a></td>
                {% endfor %}
                </tbody>
                <thead>
                    <tr>
                        <th>{% trans "Total" %}</th>
                        <th>{{ aluno|somavendas }}</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
            </table>

        </div>
        </div>
        </div>
        </div> <!--FINISH SECOND COLUMN  -->
        </div>
    </div> <!--FINISH FIRST ROW  -->


            <div class="row">
            <div class="col-lg-6"> <!--FIRST COLUMN  -->
                <div class="card-body table-responsive p-0">
                <div class="card card-outline card-info">
                <div class="card-header">
                <h3 class="card-title">{% trans "Campeonatos" %} <strong></strong></h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                </div>
                </div>
                <div class="card-body"><!-- /.card-body -->
                    <table class="table table-hover text-nowrap">
                        <thead>
                            <tr>
                                <th>{% trans "Campeonatos" %}</th>
                                <th>{% trans "Categoria" %}</th>
                                <th>{% trans "Peso" %}</th>
                                <th>{% trans "Colocação" %}</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                {% for champ in aluno|campeonatos %}
                                <td>{{ champ.championship|title }}</td>
                                <td>{{ champ.category|title }}</td>
                                <td>{{ champ.weight|title }}</td>
                                <td>{{ champ.ranking|title }}</td>
                                {% endfor %}

                        </tbody>
                    </table>
                </div>
                </div>
                </div>
            </div> <!--FINISH FIRST COLUMN  -->


    <div class="col-lg-6"> <!-- SECOND COLUMN  -->
        <div class="card-body table-responsive p-0">
        <div class="card card-outline card-info">
        <div class="card-header">
            <h3 class="card-title"><strong>{% trans "Histórico de Graduação" %}</strong></h3>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
        </div>
        </div>
        <div class="card-body"><!-- /.card-body -->
            <table class="table table-hover text-nowrap">
                <thead>
                    <tr>
                        <th>{% trans "Faixa" %}</th>
                        <th>{% trans "Grau" %}</th>
                        <th>{% trans "Professor" %}</th>
                        <th>{% trans "Data" %}</th>
                    </tr>
                </thead>
                <tbody>
                {% for graduacao in aluno|graduacoes %}
                        <tr>
                        <td>{{ graduacao.belt }}</td>
                        <td>
                            {% if graduacao.stripe %}
                            {{ graduacao.stripe }}
                            {% else %}
                            {% endif %}
                        </td>
                        <td> {{ graduacao.master }}</td>
                        <td>{{ graduacao.time_stamp|date:"d F Y" }}</td>
                        </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
        </div>
        </div>
        </div> <!--FINISH SECOND COLUMN  -->
        </div>
    </div> <!--FINISH SECOND COLUMN  -->

    </div>
</div>
</section>


{% endblock %}


