{% extends 'base_template.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load attendance_tags %}
{% load i18n %}

{% block titulo %}
Student Details
{% endblock %}
{% block content %}
<link rel="stylesheet" href="http://cdnjs.cloudfare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
<link rel="stylesheet" href="{% static 'style_aluno.css' %}">



<div align="center"><!-- COMECA DIV -->
   <div class="row col-lg-4" align="center"><!-- INFORMAÇÕES DO ALUNO -->

       <div class="box "><!-- INICIO DA CAIXA -->
            <div style="padding: 15px 0px 5px 0px"><!-- DIV FOTO ALUNO -->
                {% if aluno.photo %}
                    <td colspan="2" align=center><img width="200px" src="{{ aluno.photo.url }}"> </td>
                {% else %}
                    <td colspan="2" align=center><img width="200px" src="{% static 'images/defaultuser.jpeg' %}"> </td>
                {% endif %}
            </div><!-- FIM DIV FOTO ALUNO -->
            <div > <!-- DIV INFORMAÇÕES ALUNO -->
                <h3 style="padding-bottom:10px"><strong>{{ aluno.nome|title }} {{ aluno.middle_name|default_if_none:""|title }} {{ aluno.surname|title }}</strong></h3>
                <div><!--TABELA COM INFO -->
                    <table class="table text-nowrap">
                       <tr>
                            <th width="40px">{% trans "ID" %}</th>
                            <td>{{ aluno.id }}</td>
                        </tr>
                        <tr>
                            <th width="40px">{% trans "Telefone" %}</th>
                            <td>{{ aluno.phone }}</td>
                        </tr>
                        <tr>
                            <th>{% trans "E-Mail" %}</th>
                            <td>{{ aluno.email|lower }}</td>
                        </tr>
                        <tr>
                            <th>{% trans "Gênero" %}</th>
                            <td>{{ aluno.gender }}</td>
                        </tr>
                        <tr>
                            <th>{% trans "Faixa" %}</th>
                            {% if aluno|current_stripe == 'No Stripes' %}
                            <td>{{ aluno|current_belt }}</td>
                            {% else %}
                            <td>{{ aluno|current_belt }} {{ aluno|current_stripe }}</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <th>{% trans "Data de Nascimento" %}</th>
                            <td>{{ aluno.dob|date:"d F Y" }}</td>
                        </tr>
                        <tr>
                            <th>{% trans "Data de Início" %}</th>
                            <td>{{ aluno.join_date|date:"d F Y" }}</td>
                        </tr>
                    </table>
                </div><!--FIM TABELA COM INFO -->
            </div> <!-- FIM DIV FOTO ALUNO -->
       </div><!-- FIM DA CAIXA -->
</div><!-- TERMINA DIV -->

<div align="center" class="container"><!-- COMECA DIV DE CAMPEONATOS -->
   <div class="row " align="center"><!--  -->
        <div class="card-body table-responsive p-0">
        <div class="card card-outline card-info">
        <div class="card-header"><!-- TITULO DA BOX -->
                <h3 class="card-title"> {% trans "Campeonatos"%} </h3>
           </div>
           <div class="card-body"><!-- CORPO DA BOX -->
               <table class="table table-hover text-nowrap col-lg-12">
                   <thead>
                   <tr>
                    <th width="250px">{% trans "Campeonato"%}</th>
                    <th width="50px">{% trans "Ano"%}</th>
                    <th width="50px">{% trans "Local"%}</th>
                    <th width="50px">{% trans "Categoria"%}</th>
                    <th width="50px">{% trans "Peso"%}</th>
                    <th width="50px"> {% trans "Colocação"%}</th>
                    </tr>
                   </thead>
                   <tbody>
                   {% for champ in aluno|campeonatos %}
                        <tr>
                            <td>{{ champ.championship|title }}</td>
                            <td>{{ champ.year }}</td>
                            <td>{{ champ.country }} - {{ champ.city }}</td>
                            <td>{{ champ.category|title }}</td>
                            <td>{{ champ.weight|title }}</td>
                            <td>{{ champ.ranking|title }}</td>
                        </tr>
                    {% endfor %}
                   </tbody>
               </table>
           </div><!-- CORPO DA BOX -->
    </div>
    </div>
    </div>
   </div>
</div><!-- TERMINA DIV DE CAMPEONATOS -->


<div align="center" class="container"><!-- COMECA DIV DE GRADUACAO -->
   <div class="row " align="center"><!--  -->
        <div class="card-body table-responsive p-0">
        <div class="card card-outline card-info">
        <div class="card-header"><!-- TITULO DA BOX -->
            <h3 class="card-title"> {% trans "Histórico de Graduação"%} </h3>
       </div>
           <div class="card-body"><!-- CORPO DA BOX -->
               <table class="table table-hover text-nowrap col-lg-12">
                   <thead>
                   <tr>
                    <th width="250px">{% trans "Faixa"%}</th>
                    <th width="50px">{% trans "Grau"%}</th>
                    <th width="50px">{% trans "Professor"%}</th>
                    <th width="50px">{% trans "Data"%}</th>
                    </tr>
                   </thead>
                   <tbody>
                       {% for graduacao in aluno|graduacoes %}
                            <tr>
                            <td>{{ graduacao.belt }}</td>
                            <td>
                                {% if graduacao.stripe %}
                                {{ graduacao.stripe }}
                                {% else %}
                                {% endif %}
                            </td>
                            <td> {{ graduacao.master }}</td>
                            <td>{{ graduacao.time_stamp|date:"d F Y" }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
               </table>
           </div><!-- CORPO DA BOX -->
    </div>
    </div>
    </div>
   </div>
</div><!-- TERMINA DIV DE GRADUCAO -->

{% endblock %}


