{% extends 'base_template.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}


{% block titulo %}
Edit Branch
{% endblock%}
{% block content %}
<section class="content">
  <div class="container-fluid">
    <div class="row mb-3">
      <div class="col-12">
        <div class="card card-outline card-danger shadow-sm">
          <div class="card-header bg-light">
            <h3 class="card-title">{% trans "Edit Branch" %}</h3>
          </div>
          <div class="card-body">
            <form method="post">
              {% csrf_token %}
              <div class="mb-4">
                {{ form|crispy }}
              </div>
              
              {% if user.is_superuser and object.id != user.id %}
              <div class="mb-4 custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="is_active" name="is_active" {% if object.is_active %}checked{% endif %}>
                <label class="custom-control-label" for="is_active">{% trans "Active" %}</label>
              </div>
              {% endif %}
              
              <div class="mb-4">
                <button type="submit" class="btn btn-outline-primary">
                  <i class="fas fa-save"></i> {% trans "Save Changes" %}
                </button>
                <a href="{% url 'focusbjj:managestaff' %}" class="btn btn-outline-secondary">
                  <i class="fas fa-arrow-left"></i> {% trans "Back" %}
                </a>
              </div>
            </form>
            
            <div class="mt-4 border-top pt-3">
              <a href="{% url 'focusbjj:password_reset' %}" class="text-muted">
                <i class="fas fa-key"></i> {% trans "Want to change your password?" %} {% trans "Click here." %}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}