{% extends 'base_template.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load attendance_tags %}
{% load i18n %}


{% block titulo %}
Products List
{% endblock%}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/lightbox.css' %}"  />
<script src='{% static "js/lightbox.js" %}'></script>

<script>

</script>
<style>

</style>
<div class="col-lg-12">
    <!-- PIE CHART -->
      <div class="card card-outline card-info">
        <div class="card-header">
          <h3 class="card-title">Store |&nbsp;<b>Focus JJ</b><br><small>{% trans "Clique na Imagem para Ampliar" %}</small></h3>

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
          <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
        </div>
      </div>
      <div class="card-body">
        <table class="table table-hover text-nowrap">
        <thead>
        <tr>
          <th></th>
          <th>{% trans "Item" %}</th>
          <th>{% trans "Descrição" %}</th>
          <th>{% trans "Preço" %}</th>
          <th>{% trans "Preço de Venda Sugerido" %}</th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        {% for item in products %}
        <tr>
          <td class="grid"><img width="50px" src="{{ item.image.url }}"></td>
          <td>  {{ item.item }}</td>
          <td>  {{ item.description }}</td>
          <td>€ {{ item.price }}</td>
          <td>€ {{ item.sugg_price }}</td>
          {% if user.is_superuser %}
          <td>
              <a href="{% url 'focusbjj:editproduct' item.pk %}" class="btn btn-primary">Editar</a>
              <a href="{% url 'focusbjj:deleteproduct' item.pk %}" class=" btn btn-danger">Delete</a>
          </td>
          {% else %}
          {% endif %}
        </tr>
        {% endfor %}
        </tbody>


        </table>
      </div>
    <!-- /.card-body -->
    </div>
  </div>


{% endblock %}