{% load static %}


{% block titulo %}
{% endblock %}

{% block content %}

    <header class="min-h-screen bg-black bg-opacity-75 bg-blend-overlay showcase border-gray-600 border-b-8 flex justify-center items-center bg-no-repeat bg-cover"  >
        <div class="z-10 h-full py-350 md:py-100 text-gray-100 text-center flex items-center flex-col" style="margin-top:30px; margin-bottom:30px; margin-left:70px ; margin-right:70px">
            <h2>Politica De Privacidade -
                Academia Workout – Manoel de Albuquerque LDA</h2><br>
            <div class="container">
            <div class="flex flex-nowrap justify-center space-x-15 p-00 container">

A Academia Workout – Manoel de Albuquerque Lda, respeita a privacidade dos seus clientes e empreendem todos os cuidados para proteger as respectivas informações.
Esta política de privacidade, consiste em prestar as informações que recolhemos e da forma como a podemos utilizar bem como das normas de segurança adotadas para proteger a sua identidade e dados pessoais.

                <h4>Que tipo de informações recolhemos:</h4>
Podem ser solicitadas informações pessoais, como o seu nome, endereço, data de nascimento, sexo, endereço de correio eletrónico, NIF, etc.
As informações supra podem ser solicitadas quando se inscreve ou preenche formulário de contacto quer como trabalhador, candidato a emprego, prestador de serviços, cliente, fornecedor, visitante, etc, e ou quando recebe ou envia mensagens de correio eletrónico.
                <h4>Utilização das Informações:</h4>
Todas as informações pessoais que obtemos serão registadas, utilizadas e protegidas em conformidade com legislação comunitária vigente em matéria de proteção de dados e com esta política de privacidade.
As informações recolhidas, têm como finalidade o envio de informações/divulgação por correio eletrónico ou mensagens SMS acerca dos nossos serviços.
O envio das informações apenas ocorre, quando o titular dos dados, tiver expressamente optado por receber mensagens de correio eletrónico e/ou mensagens SMS da empresa Academia Workout – Manoel de Albuquerque Lda. Caso não pretenda receber mais mensagens de correio eletrónico ou SMS, entre em contato connosco através de email: academiaworkoutportugal@gmail.com ou por carta para a nossa morada Rua Dr Afonso Cordeiro nº 7111 4450-007 Matosinhos.
                <h4>Proteção das Informações:</h4>
As informações que nos fornece estão protegidas no âmbito da implementação das várias medidas de segurança, nomeadamente através de acesso condicionado, e da salvaguarda de confidencialidade das informações.
Privacidade de menores (Crianças e Jovens):
A empresa  Academia Workout – Manoel de Albuquerque Lda, está empenhada em proteger a privacidade de crianças e jovens e não pretende recolher dados pessoais de menores com idade inferior a 13 anos (a idade legalmente definida em termos de lei nacional no âmbito do RGPD).


<h4>Retificação, Eliminação ou Modificação ou Atualização de Informações:</h4>
Caso pretenda, pode cancelar o seu registo ou utilização em qualquer altura e pode optar por não receber quaisquer mensagens de correio eletrónico e/ou mensagens SMS, e pode também optar por eliminar todas  as suas informações pessoais da nossa base de dados.
Se pretender pode também anular, eliminar ou modificar as suas informações pessoais.
<h4>Nosso Contato:</h4>
Se tiver quaisquer perguntas ou comentários relativamente à nossa política de privacidade, escreva-os para o seguinte email:  academiaworkoutportugal@gmail.com.
<h4>O Consentimento do Titular dos Dados:</h4>
Ao utilizar os nossos serviços confirma que aceita os termos desta Política de Privacidade, assim como os nossos Termos e Condições.
Caso não concorde com os termos da nossa Política de Privacidade e os nossos Termos e Condições, solicita-se que não nos forneça informações pessoais.
<h4>Direito do Titular dos Dados ao Acesso às Suas Informações Pessoais:</h4>
O titular dos dados tem direito de receber uma cópia das suas informações pessoais em nosso poder. A empresa reserva-se o direito de cobrar uma pequena taxa ( valor a definir) para custos administrativos e informáticos de qualquer pedido efetuado.
<h4>Direito do Titular dos Dados à Eliminação de Dados Pessoais:</h4>
O titular dos dados poderá requerer a sua eliminação sempre que pretender, através do pedido por escrito para a nossa morada oficial ou para o nosso email.
<h4>Durante Quanto Tempo Conservaremos os Seus Dados:</h4>
Trataremos os seus dados durante o tempo em que mantiver a qualidade de utilizador da Academia.
Posteriormente, após cessação do contrato de prestação de serviços, os seus dados serão conservados pelo prazo de 1 ano.
<h4>Política de Privacidade:</h4>
A política de privacidade aplica-se apenas às informações recolhidas através da inscrição da nossa academia.
            </div><br>

            </div>
</div>

    </header>




{% endblock %}