{% extends 'base_template.html' %}
{% load static %}
{% load i18n %}


{% load attendance_tags %}

{% block titulo %}
FOCUS BJJ - {{ request.user.location }}
{% endblock %}

{% block content %}
<link rel="stylesheet" href="http://cdnjs.cloudfare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
<link rel="stylesheet" href="{% static 'style.css' %}">
<link rel="stylesheet" href="{% static 'styles.css' %}">
<script defer src="{% static 'script.js' %}"></script>

<section class="content">

            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
        <div class="container-fluid">
            <div class="card card-outline card-info">
        <div class="card-header">
          <h3 class="card-title">Store |&nbsp;<b>Focus JJ</b><br><small>{% trans "Clique na Imagem para Ampliar" %}</small></h3>
        <div class="card-tools">
            <form method="get" >
                {{ filter.form }}
                <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
            </form>
        </div>
      </div>
<!-- /.card-header -->
<div class="card-body table-responsive p-0">
    <table class="table table-hover text-nowrap">
    <thead>
        <tr>
          <th>{% trans "Fotos" %}</th>
         <th></th>
          <th></th>
          <th>{% trans "Item" %}</th>
          <th>{% trans "Descrição" %}</th>
          <th>{% trans "Preço" %}</th>
          <th>{% trans "Preço de Venda Sugerido" %}</th>
          <th></th>
          <th></th>
        </tr>
        </thead>
    <tbody>
        <tr>
         {% if filter.qs %}
            {% for item in filter.qs %}
        <tr>
          <div class="grid">
            <td style="cursor:pointer" >
              <img width="50px" src="{{ item.image.url }}">
            </td>

            <td style="cursor:pointer" >
              {% if item.image2 %}
              <img width="50px" src="{{ item.image2.url }}">
              {% else %}

              {% endif %}
            </td>
            <td style="cursor:pointer" >
              {% if item.image3 %}
              <img width="50px" src="{{ item.image3.url }}">
              {% else %}
              {% endif %}
            </td>
          </div>
          <td>  {{ item.item|title }}</td>
          <td>  {{ item.description|default_if_none:""|lower|capfirst }}</td>
          <td>€ {{ item.price }}</td>
          <td>€ {{ item.sugg_price }}</td>
          {% if user.is_superuser %}
          <td>
              <a href="{% url 'focusbjj:editproduct' item.pk %}" class="btn btn-primary">Editar</a>
              <a href="{% url 'focusbjj:deleteproduct' item.pk %}" class=" btn btn-danger">Delete</a>
          </td>
          {% else %}
          {% endif %}
        </tr>
        {% endfor %}
        </tbody>

        {% else %}
        {% for item in products %}
        <tr>
          <div class="grid" >
            <td style="cursor:pointer padding:0px" >
              <img width="50px" src="{{ item.image.url }}">
            </td>

            <td style="cursor:pointer padding:0px">
              {% if item.image2 %}
              <img width="50px" src="{{ item.image2.url }}">
              {% else %}
              {% endif %}
            </td>
            <td style="cursor:pointer">
              {% if item.image3 %}
              <img width="50px" src="{{ item.image3.url }}">
              {% else %}
              {% endif %}
            </td>
          </div>
          <td>  {{ item.item|title }}</td>
          <td>  {{ item.description|default_if_none:""|lower|capfirst }}</td>
          <td>€ {{ item.price }}</td>
          <td>€ {{ item.sugg_price }}</td>
          {% if user.is_superuser %}
          <td>
              <a href="{% url 'focusbjj:editproduct' item.pk %}" class="btn btn-primary">Editar</a>
              <a href="{% url 'focusbjj:deleteproduct' item.pk %}" class=" btn btn-danger">Delete</a>
          </td>
          {% else %}
          {% endif %}
        </tr>
        {% endfor %}
          {% endif %}
                            </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                        </div>
                    <!-- /.card -->

                </div>
            </div>

        </div><!-- /.container-fluid -->
      </section>
    </header>

    <script>
    {% for msg in messages %}
        swal('{{ msg }}');
    {% endfor %}
    </script>
{% endblock %}